<%- include('head.ejs') %>
    <form method="POST" action="/result">
        <label> Name</label>
        <input type="text" name="name"/>
        <label> Age</label>
        <input type="number" name="age"/>
        <input type="submit" id="submit" value="Submit Query"/>
    </form>
    <%- include('end.ejs') %>